@keyframes button-pulse {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.05); 
    }
    100% {
        transform: scale(1); 
    }
}

@keyframes wheel-pulse {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(22deg); 
    }
    100% {
        transform: rotate(0deg); 
    }
}

@keyframes small-ball-float {
    0% {
        transform: translate(0); 
    }
    50% {
        transform: translate(8px, -8px); 
    }
    100% {
        transform: translate(0); 
    }
}

@keyframes small-ball-float-mob {
    0% {
        transform: translate(0); 
    }
    50% {
        transform: translate(3px, -3px); 
    }
    100% {
        transform: translate(0); 
    }
}

@keyframes small-coin-float {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-8px, -8px) 
    }
    100% {
        transform: translate(0); 
    }
}

@keyframes ball-moveLeftRight {
    0% {
    transform: translateX(0); 
    }
    50% {
    transform: translateX(-15px); 
    }
    100% {
    transform: translateX(15px); 
    }
}

@keyframes ball-moveLeftRight-mob {
    0% {
    transform: translateX(0); 
    }
    50% {
    transform: translateX(-10px); 
    }
    100% {
    transform: translateX(10px); 
    }
}

@keyframes coin-float {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-15px, -15px) 
    }
    100% {
        transform: translate(0); 
    }
}

@keyframes coin-float-mob {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-5px, -5px) 
    }
    100% {
        transform: translate(0); 
    }
}

@keyframes modal-coin-float {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(10px, 15px) 
    }
    100% {
        transform: translate(0); 
    }
}

@keyframes modal-coin-mob-float {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-10px, 35px) 
    }
    100% {
        transform: translate(0); 
    }
}

@keyframes modal-small-ball-float {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(10px, -10px) 
    }
    100% {
        transform: translate(0); 
    }
}

@keyframes modal-big-coin-mob-float {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(8px, 8px) 
    }
    100% {
        transform: translate(0); 
    }
}