.header {
  flex: 0 0 auto;
  width: 100%;
  height: 84px;
  padding-block: 25px;
  margin-bottom: clamp(100px,6.63vw,185px);
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .header {
    height: 58px;
    padding-block: 12px;
    margin-bottom: clamp(7px, calc(4.6vh - 27.4rem), 47px);
  }
}
