.positioned-elements {
    position: relative;
    width: 65%;
    height: 100%;
}

.wheel {
    position: absolute;
    right: 50%;
    left: 50%; 
}

@media (max-width: 1440px) {
    .wheel {
        bottom: 170px;
    }
}

@media (max-width: 1280px) and (max-height: 768px) {
    .wheel {
        bottom: 50px;
    }
}

@media (max-width: 1024px) {
    .wheel {
        bottom: 150px;
    }
}



.wheel__img {
    position: absolute;
    top: 45%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: clamp(284px, 45.83vw, 880px);
    height: auto;
    z-index: 4;
}

.wheel__btn {
    position: absolute;
    top: 45%;
    left: 58%;
    
    display: inline-block;
    padding: 40px 9px;
    box-sizing: content-box;
    width: clamp(50px, 4.64vw, 89px);
    transform: translate(-50%, -47%);

    z-index: 4;
}

@media (max-width:767px) {
    .positioned-elements {
        position: relative;
        width: 328px;
        margin: 0 auto;
    }

    .wheel {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wheel__img {
        top: 50%;
        left: 50%;
    }

    .wheel__btn {
        width: 29px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -49%);
    }
}

@media (min-height:660px) and (max-height: 700px) and (max-width: 480px) {
    .positioned-elements {
        transform: scale(1.1);
    }
}

@media (min-height:700px) and (max-height: 750px) and (max-width: 480px) {
    .positioned-elements {
        transform: scale(1.2);
    }
}

@media (min-height:750px) and (max-height: 800px) and (max-width: 480px) {
    .positioned-elements {
        transform: scale(1.3);
    }
}

@media (min-height:800px) and (max-height: 850px) and (max-width: 480px) {
    .positioned-elements {
        transform: scale(1.35);
    }
}

@media (min-height:850px) and (max-height: 950px) and (max-width: 480px) {
    .positioned-elements {
        transform: scale(1.5);
    }
}

.coin {
    position: absolute;
    top: 50%;
    left: 97%;
    
    display: inline-block;
    padding: 40px 9px;
    box-sizing: content-box;
    width: clamp(130px, 20.31vw, 390px);
    transform: translate(-50%, -47%);

    animation: coin-float 3.5s ease-in-out infinite alternate;
    z-index: 3;
}

@media (max-width:768px) {
    .coin {
        top: 40%;
        left: 87%;

        animation: coin-float-mob 4.5s ease-in-out infinite alternate;
    }
}


.wheelContainer {
    position: absolute;
    top: 45%;
    left: 58%;
    width: clamp(332px, 32.55vw, 625px);
    height: clamp(333px, 32.55vw, 625px);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;
}

@media (max-width:767px) {
    .wheelContainer {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
} 

.wheel__spin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3B3450;
    border-radius: 50%;
    overflow: hidden;
}

.wheel--idle {
    animation: wheel-pulse 3s ease-in-out infinite alternate;
}

.wheel--spinning {
    transition: transform 5s ease-in-out;
}

@media (max-width:767px) {
    .wheel__spin {
        top: 65px;
        left: 65px;
        width: 61%;
        height: 61%;
    }
}

.wheel__prize {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform-origin: 0 0;
    mask-image: url('../../img/svg/mask.svg');
    mask-size: 75% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    transform: rotate(calc(45deg * var(--i)));
    display: flex;
    justify-content: flex-start; /* Выравниваем к центру колеса */
    align-items: center;    color: white;
    background: var(--clr);
    font-size: 1.2em;
    font-weight: 900;
    line-height: 80%;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}

.wheel__text-container {
    display: flex;
    flex-direction: column; /* Располагаем текст вертикально */
    justify-content: center;
    align-items: center;
}

.wheel__main-text {
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-35%, calc(-40% - -10px)) rotate(-225deg); 

    font-size: clamp(1.2em, 2.23vw, 1.8em);
    font-weight: 900;
    line-height: 100%;
    text-align: center;
}

@media (max-width:767px) {
    .wheel__main-text {
        font-size: 15px;
        transform: translate(-40%, calc(-40% - 0px)) rotate(-225deg); 
    }
}

.wheel__main-subtext.wheel__main-subtext--rotate {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: clamp(7px, 0.7vw, 12px);
    transform: translate(-100%, calc(-100% - clamp(10px, 1.7vw, 25px))) rotate(-225deg);
    opacity: 0.5;
}

.wheel__main-subtext+.wheel__sub-text {
    transform: translate(-85%, calc(-130% - 5px)) rotate(-225deg);
    opacity: 1;
}

@media (max-width:767px) {
    .wheel__main-subtext.wheel__main-subtext--rotate {
        font-size: 5px;
        transform: translate(-105%, calc(-100% - clamp(10px, 1.7vw, 25px))) rotate(-225deg);

    }

    .wheel__main-subtext+.wheel__sub-text {
    transform: translate(-100%, calc(-130% - 10px)) rotate(-225deg);
}
}

.wheel__sub-text.rotate {
    transform: translate(-104%, calc(-230% - 0px)) rotate(-225deg);
}

.wheel__sub-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-90%, calc(-150% - 18px)) rotate(-225deg);
    font-size: clamp(8px, 0.8vw, 13px);
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.5;
}

@media (max-width:767px) {
    .wheel__sub-text {
        font-size: 5px;
        transform: translate(-95%, calc(-92% - 11px)) rotate(-225deg);
    }
}

.wheel__text--color {
    color: #D88E00;
}

.wheel__sub-text.wheel__text--color {
    opacity: 1;
}