@use "./base/normalize";
@use "./base/reset";
@use "./components/keygrames";
@use "./components/container";
@use "./components/buttom";
@use "./components/wheel";
@use "./components/coins";
@use "./layout/langNavigation";
@use "./layout/header";
@use "./layout/mainContent";
@use "./layout/footer";
@use "./layout/modal";