.mainContent {
  flex: 1 1 auto;
  min-height: 0; /* критично для правильного розрахунку висоти у flex-контейнері */
  position: relative;
  z-index: 6;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  @media (max-width:767px) {
    &__container {
      flex-direction: column;
    }
  }
}

.section__title {
    width: 35%;
    margin-bottom: 10vh
}

@media (max-width:767px) {
    .section__title {
        position: relative;
        width: 100%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.game-promo__wrapper {
  margin-bottom: 24px;
}

@media (max-width: 767px) {
    .game-promo__wrapper {
        margin-bottom: 14px;
    }
}

.game-promo__img {
  display: block;
  width: 246px;
}

@media (max-width:767px) {
  .game-promo__img {
  width: 142px;
}
}

.game-promo__text {
  color: #fff;
  font-size: clamp(45px, 3.54vw, 68px);
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  text-transform: uppercase;

  &-gradient {
    background: linear-gradient(90deg, #FED037 0%, #F8991C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 767px) {
    .game-promo__text {
        text-align: center;
        font-size: 33px;
    }

    .game-promo__text-deu {
      font-size: 30px;
    }

    .game-promo__text--fra {
      font-size: 29px;
    }

    .space {
      display: none;
    }
}

