.modal__overlay {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: rgba(20, 20, 26, 0.60);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; 
}

.modal__overlay.open {
    display: flex;
    opacity: 1; 
    pointer-events: all; 
}

.modal__content {
    position: relative;
    width: 739px;
    height: 456px;
    flex-shrink: 0;
    overflow: hidden;
    
    background: #14141A;
    background: image-set(url("../../img/desktop/bg_popup@1x.webp") 1x, url("../../img/desktop/bg_popup@2x.webp") 2x) center / cover no-repeat;;
    box-shadow: 0 10px 100px 0 rgba(229, 255, 58, 0.50);
    border-radius: 10px;
    
    z-index: 4;
}

.modal__ball-coin-img {
    position: absolute;
    width: 100%;
    height: 80%;

    z-index: 1;
}

@media (min-width: 768px) {
    .modal__ball-coin-img {
        display: none;
    }
}

.modal__text-content {
    position: absolute;
    top: 111px;
    right: 60px;
}

.modal__title {
    margin-bottom: 2px;
    color: #ffffff;
    text-align: center;
    text-shadow: -3px 3px 0 rgba(0, 0, 0, 0.20);

    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.modal__subtitle{
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.modal__prize {
    margin-bottom: 58px;
    text-align: center;
    text-shadow: -3px 3px 0 rgba(0, 0, 0, 0.20);

    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;

    color: #ffd033;
}

.modal__button{
    margin: 0 auto;
}

@media (max-width: 767px) {
    .modal__content {
        width: 328px;
        height: 532px;
        background-image: image-set(url("../../img/mob/modal_bg@x1.webp") 1x, url("../../img/mob/modal_bg@x2.webp") 2x);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .modal__text-content {
        position: static;
        width: 100%;
        height: auto;
        min-height: 492px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-image: image-set(url("../../img/mob/modal_shadow_mob@1x.webp") 1x, url("../../img/mob/modal_shadow_mob@2x.webp") 2x);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .modal__prize {
        margin-bottom: 63px;
    }

    .modal__button {
        width: 286px;
        height: 46px;
        padding: 16px 0;

        font-size: 18px;
    }
}

.modal__small-ball {
    display: none;
}

@media (min-width: 768px) {
    .modal__small-ball {
    position: absolute;
    top: 13%;
    left: 34%;
    width: 74px;
    display: inline-block;

    animation: modal-small-ball-float 4.5s ease-in-out infinite alternate;
}
}

.modal__ball {
    position: absolute;
    top: 35%;
    left: -7%;
    width: 239px;

    animation: ball-moveLeftRight 4s ease-in-out infinite alternate;
}

@media (max-width: 768px) {
    .modal__ball {
        top: -11%;
        left: -15%;
        width: 264px;
    }
}

.modal__coin--mob {
    position: absolute;
    top: -17%;
    right: -35%;
    width: 212px;

    animation: modal-big-coin-mob-float 5s ease-in-out infinite alternate;
}